/*********************************** tasks */

.tasks {
  margin-top: 1rem;

  a {
    text-decoration: none;
    color: $black;
    &:hover {
      color: $highLight;
    }
  }

  /****************** task */
  .task {
    .panel-heading {
      @include upper-text;
      color: $highLight;
      background-color: $light;
      a {
        margin-right: 0.8rem;
      }
    }
  }
}
/*********************************** task-form */
.task-form {
  padding: 15px;

  /************* inputs */
  input {
    height: 2.3rem;
  }
  /************* button with icon */
  button.glyphicon {
    height: 2.3rem;
    padding: 0.3rem;
    color: $highLight;
    margin-right: 0.8rem;
    border: none;
    &:hover,&:active,&:focus {
      color: darken($highLight, 20%);
      background-color: transparent;
      border: none;
    }
  }
  /************* errors list */
  .errors {
    text-align: left;
    color: #ff5252;
  }
}
