/*********************************** tasks */

.tasks {
  margin-top: 1rem;

  a {
    text-decoration: none;
    color: $black;
    &:hover {
      color: $highLight;
    }
  }

  /****************** task */
  .task {
    .panel-heading {
      @include upper-text;
      color: $highLight;
      background-color: $light;
      a {
        margin-right: 0.8rem;
      }
      small {
        font-size: 1.1rem;
        font-weight: normal;
        color: $dark;
        letter-spacing: 0;
      }
    }
  }
}

/*********************************** form-section */
.form-section {
  padding: 0px;

  /************* inputs */
  input {
    height: 2.3rem;
  }
  /************* button with icon */
  button.glyphicon {
    height: 2.3rem;
    padding: 0.3rem;
    color: $highLight;
    margin-right: 0.8rem;
    border: none;
    &:hover,&:active,&:focus {
      color: darken($highLight, 20%);
      background-color: transparent;
      border: none;
    }
  }
  /************* errors list */
  .errors {
    text-align: left;
    color: #ff5252;
  }
}

/********************************** search with typeahead.js  */


.search-form {
  .twitter-typeahead {
    width: 100%;
    input {
      height: 2.3rem;
    }
  }

  .tt-hint {
    color: darken($light, 20%);
    height: inherit;
  }

  .tt-menu {
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid $light;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    width: 100%;
    text-align: left;
  }

  .tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
  }

  .tt-suggestion.tt-cursor,.tt-suggestion:hover {
    color: $highLight;
    cursor: pointer;
  }

  .tt-suggestion p {
    margin: 0;
  }
}



